html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.notched-rectengle-button {
  --default-px-size: 0px;
  --notched-border-color: rgb(189, 181, 222);
  --notched-scale: 13px;
  --notched-border-size: 1px;
  /* filter: drop-shadow(0px 0px 5px rgba(189, 181, 222, 0.7)); */
  display: flex;
  width: 134px;
  height: 40px;
  border: 1px solid var(--notched-border-color);
  background: linear-gradient(45deg,
      var(--notched-border-color) 0 var(--notched-border-size),
      transparent 0) bottom left / 50% 50%,
    linear-gradient(-45deg,
      var(--notched-border-color) 0 var(--notched-border-size),
      transparent 0) bottom right/50% 50%,
    linear-gradient(130deg,
      var(--notched-border-color) 0 calc(var(--notched-scale, var(--default-px-size)) + var(--notched-border-size)),
      transparent 0) top left / 50% 50%,
    linear-gradient(-135deg,
      var(--notched-border-color) 0 var(--notched-border-size),
      transparent 0) top right / 50% 50%,
    transparent;

  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(45deg, transparent 0 0, #000 0) bottom left,
    linear-gradient(-45deg, transparent 0 0, #000 0) bottom right,
    linear-gradient(130deg,
      transparent 0 var(--notched-scale, var(--default-px-size)),
      #000 0) top left,
    linear-gradient(-135deg, transparent 0 0, #000 0) top right;
  -webkit-mask-size: 50.5% 50.5%;
  -webkit-mask-repeat: no-repeat;
}

.notched-rectengle-button span {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  /* text-shadow: 0px 0px 15px var(--notched-border-color); */
  font-size: 16px;
  cursor: pointer;
}
